terraform/step-functions-definition.json
{
  "Comment": "HourStats Bluesky Bot Workflow - Continuous Fetching",
  "StartAt": "Start",
  "States": {
    "Start": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${aws_region}:${aws_account_id}:function:hourstats-orchestrator",
      "Parameters": {
        "action": "startWorkflow"
      },
      "ResultPath": "$.OrchestratorOutput",
      "Next": "FetchLoop"
    },
    "FetchLoop": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${aws_region}:${aws_account_id}:function:hourstats-fetcher",
      "Parameters": {
        "runId.$": "$.OrchestratorOutput.runId",
        "analysisIntervalMinutes": 30,
        "batchId": "continuous"
      },
      "ResultPath": "$.FetcherOutput",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "FetchError",
          "ResultPath": "$.Error"
        }
      ],
      "Next": "CheckHasMore"
    },
    "CheckHasMore": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.FetcherOutput.hasMorePosts",
          "BooleanEquals": true,
          "Next": "WaitAndContinue"
        }
      ],
      "Default": "AnalyzePosts"
    },
    "WaitAndContinue": {
      "Type": "Wait",
      "Seconds": 5,
      "Next": "FetchLoop"
    },
    "FetchError": {
      "Type": "Fail",
      "Cause": "Failed to fetch posts"
    },
    "AnalyzePosts": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${aws_region}:${aws_account_id}:function:hourstats-analyzer",
      "Parameters": {
        "runId.$": "$.OrchestratorOutput.runId"
      },
      "ResultPath": "$.AnalyzerOutput",
      "Next": "AggregateResults"
    },
    "AggregateResults": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${aws_region}:${aws_account_id}:function:hourstats-aggregator",
      "Parameters": {
        "runId.$": "$.OrchestratorOutput.runId"
      },
      "ResultPath": "$.AggregatorOutput",
      "Next": "PostSummary"
    },
    "PostSummary": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${aws_region}:${aws_account_id}:function:hourstats-poster",
      "Parameters": {
        "runId.$": "$.OrchestratorOutput.runId"
      },
      "End": true
    }
  }
}