terraform/step-functions-definition.json
{
  "Comment": "HourStats Bluesky Bot Workflow - Sequential Dynamic Fetching",
  "StartAt": "Start",
  "States": {
    "Start": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${aws_region}:${aws_account_id}:function:hourstats-orchestrator",
              "Parameters": {
          "action": "startWorkflow",
          "analysisIntervalMinutes": 60
        },
      "ResultPath": "$.OrchestratorOutput",
      "Next": "FetchBatch1"
    },
    "FetchBatch1": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${aws_region}:${aws_account_id}:function:hourstats-fetcher",
      "Parameters": {
        "runId.$": "$.OrchestratorOutput.runId",
        "analysisIntervalMinutes": 15,
        "batchId": "batch-0"
      },
      "ResultPath": "$.FetcherOutput1",
      "Next": "CheckContinue1"
    },
    "CheckContinue1": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.FetcherOutput1.hasMorePosts",
          "BooleanEquals": true,
          "Next": "FetchBatch2"
        }
      ],
      "Default": "ProcessPosts"
    },
    "FetchBatch2": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${aws_region}:${aws_account_id}:function:hourstats-fetcher",
      "Parameters": {
        "runId.$": "$.OrchestratorOutput.runId",
        "analysisIntervalMinutes": 15,
        "batchId": "batch-1"
      },
      "ResultPath": "$.FetcherOutput2",
      "Next": "CheckContinue2"
    },
    "CheckContinue2": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.FetcherOutput2.hasMorePosts",
          "BooleanEquals": true,
          "Next": "FetchBatch3"
        }
      ],
      "Default": "ProcessPosts"
    },
    "FetchBatch3": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${aws_region}:${aws_account_id}:function:hourstats-fetcher",
      "Parameters": {
        "runId.$": "$.OrchestratorOutput.runId",
        "analysisIntervalMinutes": 15,
        "batchId": "batch-2"
      },
      "ResultPath": "$.FetcherOutput3",
      "Next": "CheckContinue3"
    },
    "CheckContinue3": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.FetcherOutput3.hasMorePosts",
          "BooleanEquals": true,
          "Next": "FetchBatch4"
        }
      ],
      "Default": "ProcessPosts"
    },
    "FetchBatch4": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${aws_region}:${aws_account_id}:function:hourstats-fetcher",
      "Parameters": {
        "runId.$": "$.OrchestratorOutput.runId",
        "analysisIntervalMinutes": 15,
        "batchId": "batch-3"
      },
      "ResultPath": "$.FetcherOutput4",
      "Next": "CheckContinue4"
    },
    "CheckContinue4": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.FetcherOutput4.hasMorePosts",
          "BooleanEquals": true,
          "Next": "FetchBatch5"
        }
      ],
      "Default": "ProcessPosts"
    },
    "FetchBatch5": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${aws_region}:${aws_account_id}:function:hourstats-fetcher",
      "Parameters": {
        "runId.$": "$.OrchestratorOutput.runId",
        "analysisIntervalMinutes": 15,
        "batchId": "batch-4"
      },
      "ResultPath": "$.FetcherOutput5",
      "Next": "CheckContinue5"
    },
    "CheckContinue5": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.FetcherOutput5.hasMorePosts",
          "BooleanEquals": true,
          "Next": "FetchBatch6"
        }
      ],
      "Default": "ProcessPosts"
    },
    "FetchBatch6": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${aws_region}:${aws_account_id}:function:hourstats-fetcher",
      "Parameters": {
        "runId.$": "$.OrchestratorOutput.runId",
        "analysisIntervalMinutes": 15,
        "batchId": "batch-5"
      },
      "ResultPath": "$.FetcherOutput6",
      "Next": "CheckContinue6"
    },
    "CheckContinue6": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.FetcherOutput6.hasMorePosts",
          "BooleanEquals": true,
          "Next": "FetchBatch7"
        }
      ],
      "Default": "ProcessPosts"
    },
    "FetchBatch7": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${aws_region}:${aws_account_id}:function:hourstats-fetcher",
      "Parameters": {
        "runId.$": "$.OrchestratorOutput.runId",
        "analysisIntervalMinutes": 15,
        "batchId": "batch-6"
      },
      "ResultPath": "$.FetcherOutput7",
      "Next": "CheckContinue7"
    },
    "CheckContinue7": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.FetcherOutput7.hasMorePosts",
          "BooleanEquals": true,
          "Next": "FetchBatch8"
        }
      ],
      "Default": "ProcessPosts"
    },
    "FetchBatch8": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${aws_region}:${aws_account_id}:function:hourstats-fetcher",
      "Parameters": {
        "runId.$": "$.OrchestratorOutput.runId",
        "analysisIntervalMinutes": 15,
        "batchId": "batch-7"
      },
      "ResultPath": "$.FetcherOutput8",
      "Next": "CheckContinue8"
    },
    "CheckContinue8": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.FetcherOutput8.hasMorePosts",
          "BooleanEquals": true,
          "Next": "FetchBatch9"
        }
      ],
      "Default": "ProcessPosts"
    },
    "FetchBatch9": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${aws_region}:${aws_account_id}:function:hourstats-fetcher",
      "Parameters": {
        "runId.$": "$.OrchestratorOutput.runId",
        "analysisIntervalMinutes": 15,
        "batchId": "batch-8"
      },
      "ResultPath": "$.FetcherOutput9",
      "Next": "CheckContinue9"
    },
    "CheckContinue9": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.FetcherOutput9.hasMorePosts",
          "BooleanEquals": true,
          "Next": "FetchBatch10"
        }
      ],
      "Default": "ProcessPosts"
    },
    "FetchBatch10": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${aws_region}:${aws_account_id}:function:hourstats-fetcher",
      "Parameters": {
        "runId.$": "$.OrchestratorOutput.runId",
        "analysisIntervalMinutes": 15,
        "batchId": "batch-9"
      },
      "ResultPath": "$.FetcherOutput10",
      "Next": "ProcessPosts"
    },
    "ProcessPosts": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${aws_region}:${aws_account_id}:function:hourstats-processor",
      "Parameters": {
        "runId.$": "$.OrchestratorOutput.runId",
        "analysisIntervalMinutes": 60
      },
      "ResultPath": "$.ProcessorOutput",
      "End": true
    }
  }
}